@charset "utf-8";
body{
	background-image: url(../images/bd_bg.png);
	background-repeat: repeat;
	background-position: left top;
}

.wrapper{
	width:100%; 
	background:url(../images/wp_bg_fix.png) no-repeat center top;
}
.main_bg{
	width: 783px;
	height: 846px;
	margin: 0 auto;
	background: url(../images/in.png) no-repeat;
	position: relative;
}
.logo{
	text-indent: -999em;overflow: hidden;
	width: 167px;
	height: 119px;
	background:url(../images/dnf_logo.png) no-repeat center top;
	position: absolute;
	left: -190px;
	top: 22px;
	text-indent: -999em;
}
.version{
	position: absolute;
	top: 142px;
	left: 481px;
	text-indent: -999em;
}
.version a{
	display: block;
	width: 17px;
	height: 17px;
	position: absolute;
}
.version a.ver1{
	background: url(../images/ico_ver1.png) no-repeat center top;
	left: 0
}
.version a.ver2{
	background: url(../images/ico_ver2.png) no-repeat center top;
	left: 23px;
}
/* ---------- 导航栏 ---------- */
.nav{
	width: 527px;
	height: 29px;
	background: url(../images/nav_bg.png) no-repeat;
	position: absolute;
	top: 166px;
	padding-left: 16px;
	z-index: 888;
}
.nav ul li{
	float: left;
	position: relative;
}
.nav ul li a{
	display: block;
	padding: 0 6px 0 14px;
	font-size: 12px;
	color: #b29056;
	height: 26px;
	line-height: 26px;
	background: url(../images/arrow.png) 0 9px no-repeat;
}

.nav ul li:hover a{
	color: #FFCC00;
}
.nav ul li ul{
	display: none;
	position: absolute;
	top: 26px;
	left: 0;
	z-index: 999;
	border: 1px solid #333;
	border-top: none;
}
.nav ul li:hover ul{
	display: block;
}

.nav ul li:hover ul li{
	width: 78px;
	padding: 4px 7px;
	background: #1F1F1F;
	position: relative;
}
.nav ul li:hover ul li a{
	color: #b29056;
	background: none;
	padding:0 7px;
}
.nav ul li:hover ul li ul{
	display: none;
	position: absolute;
	left: 80px;
	top:0;
	border: 1px solid #333;
	z-index: 888;
}
.nav ul li:hover ul li:hover ul{
	display: block;
	left: 92px;
}
.nav ul li:hover ul li:hover a{
	color: #FFCC00;
}
.nav ul li:hover ul li:hover ul li a{
	color: #b29056;
}
.nav ul li:hover ul li:hover ul li:hover a{
	color: #FFCC00;
}
.nav ul li.first a{
	background:none;
	padding:0 7px;
}
.nav ul li.first ul{
	left: -7px;
}
/* ---------- 导航栏 End ---------- */
.main{
	width: 527px;
	height: 637px;
	background: url(../images/box_bg.png) 0 0 no-repeat;
	position: absolute;
	top: 209px;
	padding: 10px;
}
.bg_txt{
	text-indent: -999em;
	display: block;
	width: 162px;
	height: 10px;
	background: url(../images/d_h.png) 0 0 no-repeat;
	position: absolute;
	left: 0;
	top:8px;
}
/* ---------- mPart1 ---------- */
#mPart1{
	height: 229px;
	width: 503px;
	position: relative;
}
.tab_wp{
	width: 330px;
	position: absolute;
	right: 6px;
	top: 10px;
}
#hotNews{
	width: 324px;
	height: 30px;
	background: url(../images/hot_bg.png) left top no-repeat;
}
.icon_dnf{
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	background: url(../images/dnf_ico.png) left top no-repeat;
	margin-left: 10px;
	margin-top: 6px;
}
#hotNews h2{
	font-size: 14px;
	height: 30px;
	line-height: 30px;
}
#hotNews h2 a{
	margin-left: 14px;
	color: #ffde03;
}
.tab_newslist{
	width: 503px;
	height: 201px;
	background: url(../images/news_bg.png) left bottom no-repeat;
	position: absolute;
	bottom: 0;
}
#newsHead li{
	float: left;
	width: 166px;
	height: 31px;
	line-height: 31px;
	background: url(../images/tab_bg.png) left top no-repeat;
	text-align: center;
}
#newsHead li a{
	color: #fff3b3;
	display: block;
	width: 166px;
	height: 31px;
}
#newsHead li.current{
	background: url(../images/tab_bg_hover.png) left top no-repeat;
	z-index: 111;
}
#newsHead li.current a{
	color: #ffcc00;
}
#newsHead li#nh1{
	position: absolute;
	right: 174px;
	top: 0px;
}
#newsHead li#nh2{
	position: absolute;
	right: 6px;
	top: 0px;
}
.tab_wp ul{
	margin-top: 6px;
}
.tab_wp ul li
{
	padding-left: 14px;
	height: 22px;
	line-height: 22px;
	border-bottom: 1px solid #414141;
	width: 310px;
	background: url(../images/news_point.png) 0 6px no-repeat;
	position: relative;
}
.tab_wp ul li a{
	color: #cec4b0;
}
.tab_wp ul li a:hover{
	color: #ffd44e;
}
.tab_wp ul li a .news_title
{
	display: block;
	width: 266px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.tab_wp ul li a .news_date
{
	position: absolute;
	right: 0;
	top: 0;
}
.t1 ul li{
	border-bottom: none;
	height: 25px;
	line-height: 24px;
}
.more_news{
	
	width: 87px;
	height: 21px;
	background: url(../images/more_news.png) center top no-repeat;
	position: absolute;
	bottom: 12px;
	right: 10px;
	cursor: pointer;
}
.more_news a{
	display: block;
	text-indent: -999em;
}
.slider{
	width: 145px;
	height: 180px;
	overflow: hidden;
	position: absolute;
	top: 35px;
	left: 10px;
	border: 1px solid #000;
}
.slider .imageBox{
	position: absolute;
	height:180px;
	overflow: hidden; 
}
.slider .imageBox img{
	display: block;
	float: left;
	border:none;
	width: 145px;
	height: 180px;
}
.icoBox{
	position:absolute;
	bottom:0;
	right:12px;
	width:75px;
	height:16px;
	text-align:center;
	line-height:20px;
	z-index:222;
	}
.icoBox span{
	display:block;
	color: #BDB55C;
	float:left;
	height:16px;
	width:24px;
	margin-left:1px;
	overflow:hidden;
	background:url("../images/icoBox.png") 0px 0px no-repeat;
	cursor:pointer;
	}
.icoBox span.active {
	background:url("../images/icoBox_a.png") 0px 0px no-repeat;
	/* cursor:default; */
	}
/* ---------- mPart2 ---------- */
#mPart2{
	width: 503px;
	height: 189px;
	background: url("../images/mp2_bg.png") 0px 0px no-repeat;
	margin-top: 7px;
	position: relative;
	padding-left: 10px;
}
.m2_title{
	width: 300px;
	height: 26px;
	background: url("../images/m2_t.png") 0px 0px no-repeat;
	position: absolute;
	left: 8px;
	top: 10px;
	text-indent: -999em;
}
.m2_left{
	position: absolute;
	top:44px;
}
#m2_tab,.m2_tab_wp{
	float: left;
}
#m2_tab li{
	margin-bottom: 4px;
}
#m2_tab li a{
	display: block;
	width: 58px;
	height: 29px;
	line-height: 29px;
	background: url("../images/m2_tab_bg.png") 0px 0px no-repeat;
	text-align: center;
	color: #ffecb1;
}
#m2_tab li a span
{
	visibility: hidden;
}
#m2_tab li.current a{
	background: url("../images/m2_tab_bg_active.png") 0px 0px no-repeat;
	color: #ffcc00;
}
#m2_tab li.current a span{
	visibility: visible;
}
.m2_tab_wp {
	margin-left: 6px;
	height: 126px;
	width: 242px;
	overflow: hidden;
	background: url("../images/split.png") 0px 0px no-repeat;
	padding-left: 8px;
}
.m2_tab_wp ul li{
	margin-bottom: 4px;
}
.m2_tab_wp ul li a{
	width: 240px;
	display: block;
	color: #cec4b0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.m2_tab_wp ul li a:hover{
	color: #ffcc00;
}
.m2_right{
	position: absolute;
	right:22px;
	top:11px;
}
.img_wp{
	width: 160px;
	height: 70px;
	padding: 3px;
	background: url("../images/img_wp.png") 0px 0px no-repeat;
	overflow: hidden;
	margin-bottom: 10px;
}
/* ---------- mPart3 ---------- */
#mPart3{
	width: 503px;
	height: 109px;
	background: url("../images/mp3_bg.png") 0px 0px no-repeat;
	margin-top: 7px;
	position: relative;
}
.m3_title{
	width: 490px;
	height: 20px;
	background: url("../images/m3_t_bg.png") 0px 0px no-repeat;
	text-indent: -999em;
	position: absolute;
	top:10px;
	left: 8px;
}
.m3_link{
	position: absolute;
	top:40px;
	left: 8px;
}
.m3_link a{
	display: block;
	width: 86px;
	height: 27px;
	line-height: 27px;
	overflow: hidden;
	text-align: center;
	margin-bottom: 4px;
	color: #C29739;
}
.m3_link a.btn1{

	background: url("../images/btn1.png") 0px 0px no-repeat;
}
.m3_link a.btn2{
	background: url("../images/btn2.png") 0px 0px no-repeat;
}
.m3_data{
	position: relative;
	top: 45px;
	left: 104px;
}
.m3_data div{
	margin-bottom: 6px;
}

.m3_data h3{
	font-size: 12px;
	height: 12px;
	line-height: 12px;
	font-weight: normal;
	color: #FFC000;
}
.m3_data h3 span{
	margin-left: 6px;
	color: #FFEAAA;
}
.m3_data h3,.m3_data ul li{
	float: left;
}
.m3_data ul li a{
	color: #FFEAAA;
	display: block;
	width: 68px;
	height: 12px;
	line-height: 12px;
	text-align: center;
	border-left: 1px solid #FFEAAA;
}
.m3_data ul li a:hover{
	color: #FFC000;
}
.m3_data ul li.more-data a{
	border-left: none;
	display: block;
	width: 37px;
	height: 13px;
	background: url("../images/more.png") 0px 0px no-repeat;
	text-indent: -999em;
	margin-left: 18px;
	margin-top: 2px;
}
.m3_data ul li:first-child a{
	border-left: none;
}
/* ---------- mPart4 ---------- */
#mPart4{
	width: 503px;
	height: 61px;
	background: url("../images/mp4_bg.png") 0px 0px no-repeat;
	margin-top: 7px;
	position: relative;

}
.notice{
	text-indent: -999em;
	width: 160px;
	height: 60px;
	position: absolute;
	background: url("../images/npc.png") 0px 0px no-repeat;
	left: -5px;
	bottom: 4px;
}
#mPart4 .tip{
	width: 340px;
	float: right;
	margin-top: 14px;
}
#mPart4 ul li{
	display: block;
	float: left;
	width: 25%;
	color: #8C8C8C;
	line-height: 18px;
}
/* ---------- right ---------- */
.right{
	width: 217px;
	height: 508px;
	position: absolute;
	right: 0;
	top:166px;
	background: url("../images/r_bg.png") 0px 0px no-repeat;
	padding: 18px 15px
}
#wp_r1{
	width: 214px;
	height: 101px;
	background: url("../images/r1_bg.png") 0px 0px no-repeat;
	position: relative;
}
#wp_r1 .sign{
	width: 54px;
	height: 35px;
	background: url("../images/r1_sign.png") 0px 0px no-repeat;
	position: absolute;
	left: 0;
	top:0;
	text-indent: -999em;
	z-index: 222;
}
.r1_top{
	border-bottom: 1px solid #323232;
	height: 28px;
	width: 208px;
	margin: 0 auto;
}
.nGuide{
	display: block;
	float: left;
	width: 126px;
	height: 25px;
	background: url("../images/nguide.png") 0px 0px no-repeat;
	position: absolute;
	left: 4px;
	top: 0px;
	text-indent: -999em;
}
.vFlash{
	display: block;
	float: left;
	width: 80px;
	height: 26px;
	background: url("../images/v_flash.png") 0px 0px no-repeat;
	position: absolute;
	right: 3px;
	top: 2px;
	text-indent: -999em;
}
.r1_guide{
	width: 198px;
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
	border-bottom: 1px dashed #4a4844;
	margin-left: 2px;
	position: relative;
}
#wp_r1 a{
	color: #d4c7bf;
}
#wp_r1 a:hover{
	color: #FFAA00;
}
.icon_line{
	display: block;
	width: 28px;
	height: 16px;
	background: url("../images/fline.png") 0px 0px no-repeat;
	position: absolute;
	right: 14px;
	top: 8px;
}
.r1_qst{
	height: 32px;
	line-height: 32px;
	padding-left: 12px;
}
.r1_qst a{
	display: inline-block;
	width: 96px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#wp_r2{
	width: 214px;
	height: 126px;
	background: url("../images/r2_bg.png") 0px 0px no-repeat;
	margin-top: 10px;
	padding-top: 5px;
}
#wp_r2 ul li{
	display: block;
	width: 199px;
	height: 33px;
	line-height: 33px;
	text-indent: 60px;
	margin-top: 4px;
	margin-left: 8px;
	color: #ffe6b8;
}
#wp_r2 ul li.feature2{
	background: url("../images/r2_bg1.png") 0px 0px no-repeat;
}
#wp_r2 ul li.feature1{
	background: url("../images/r2_bg2.png") 0px 0px no-repeat;
}
#wp_r2 ul li.feature3{
	background: url("../images/r2_bg3.png") 0px 0px no-repeat;
}
#wp_r3{
	width: 212px;
	height: 97px;
	background: url("../images/r3_bg.png") 0px 0px no-repeat;
	margin-top: 7px;
	padding: 14px 0 0 14px;
}
#wp_r3 ul li{
	float: left;
	height: 20px;
	line-height: 20px;
	margin:0 22px 10px 0;
}
#wp_r3 ul li.first a{
	cursor: default;
	color: #ffde00;
}
#wp_r3 ul li a{
	color: #7ca304;
}
#wp_r3 ul li em{
	display: block;
	width: 31px;
	height: 20px;
	float: left;
	margin-right: 2px;
}
#wp_r3 ul li em.icon_phone{
	background: url("../images/ico_phone.png") 0px 0px no-repeat;
}
#wp_r3 ul li em.icon_lock{
	background: url("../images/ico_lock.png") 0px 0px no-repeat;
}
#wp_r3 ul li em.icon_qust{
	background: url("../images/ico_question.png") 0px 0px no-repeat;
}
#wp_r3 ul li em.icon_qust{
	background: url("../images/ico_question.png") 0px 0px no-repeat;
}
#wp_r3 ul li em.icon_safe{
	background: url("../images/ico_safe.png") 0px 0px no-repeat;
}
#wp_r3 ul li em.icon_go{
	background: url("../images/ico_go.png") 0px 0px no-repeat;
}
#wp_r4{
	width: 214px;
	height: 110px;
	overflow: hidden;
	background: url("../images/r4_bg.png") 0px 0px no-repeat;
	margin-top: 7px;
	position: relative;
}
#wp_r4 .r4_slide{
	width: 204px;
	height: 100px;
	overflow: hidden;
	position: absolute;
	left: 5px;
	top: 5px;
}
#wp_r4 .imageBox{
	height: 100px;
	position: absolute;
	overflow: hidden;
}
#wp_r4 .imageBox img{
	width: 204px;
	height: 100px;
	border:none;
	display: block;
	float: left;
}
#wp_r4 .titleBox{
	width: 100%;
	height: 21px;
	background: #000;
	position: absolute;
	bottom: 0;
	opacity: 0.4
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	-webkit-opacity: 0.4;
}
#wp_r4 .title-txt{
	position: absolute;
	bottom: 0;
	color: #F3DBA3;
	height: 21px;
	line-height: 21px;
	text-align: center;
	width: 100%;
}
#wp_r4 .title-txt em.ico_up{
	display: inline-block;
	width: 13px;
	height: 7px;
	background: url("../images/ico_up.png") 0px 0px no-repeat;
	margin-right: 10px;
}
#wp_r5{
	width: 214px;
	height: 34px;
	background: url("../images/r5_bg.png") 0px 0px no-repeat;
	margin-top: 7px;
	position: relative;
}
#wp_r5 .link_name{
	width: 143px;
	height: 17px;
	line-height: 17px;
	display: block;
	background: url("../images/link_bg.png") 0px 0px no-repeat;
	position: relative;
	color: #FFE5B8;
	padding-left: 14px;
}
#wp_r5 .link_wapper{
	width: 157px;
	height: 17px;
	position: absolute;
	top: 8px;
	left: 30px;
}
#wp_r5 .link_wapper .link_list
{
	height: 350px;
	width: 154px;
	overflow: hidden;
	background:  url("../images/slt_allbg.jpg") 0px bottom no-repeat;
	position: absolute;
	top: -351px;
	left: 0;
	border-top: 1px solid #cfcfcf;
	visibility:hidden;
}
#wp_r5 .link_wapper:hover .link_list{
	visibility: visible;
}
#wp_r5 .link_list h3{
	width: 133px;
	height: 7px;
	text-indent: -999em;
	background: url("../images/links_t.png") 0px 0px no-repeat;
	position: absolute;
	top:8px;
	left: 10px;
}
#wp_r5 .link_list ul{
	height: 320px;
	overflow-y:auto;
	width: 152px;
	overflow-x:hidden;
	position: absolute;
	bottom: 0;
}
#wp_r5 .link_list ul li{
	height: 19px;
	line-height: 19px;
	border-bottom: 1px solid #312926;
	margin-left: 12px;
}
#wp_r5 .link_list ul li:hover{
	background: #FF4800;
}
#wp_r5 .link_list ul li a{
	color: #c9c9c9;
}
#wp_r5 .link_list ul li:hover a{
	color: #FFF;
}
/* ---------- Footer ---------- */
.footer{
	clear: both;
	min-height: 70px;
	padding: 18px 0 30px;
	color: #FFF;
	background-image: url("../images/f_bg.png");
	background-position: left top;
	background-repeat: repeat-x;
	margin-top: 100px;
	background-color: #7b7a7a;
}
.footer .f_wp{
	width: 860px;
	margin: 0 auto;
	position: relative;
}
.footer .f_l{
	width: 284px;
	float: left;
}
.footer .f_l a{
	display: block;
	float: left;
	text-indent: -999em;
	margin-right: 14px;
}
.footer .f_l a.tg{
	width: 87px;
	height: 27px;
	background: url("../images/logo_tg.png") 0 0 no-repeat;
}
.footer .f_l a.sam{
	width: 88px;
	height: 32px;
	background: url("../images/logo_sam.png") 0 0 no-repeat;
}
.footer .f_l a.neo{
	width: 66px;
	height: 36px;
	background: url("../images/logo_neo.png") 0 0 no-repeat;
}
.footer .f_r
{
	float: left;
	border-left: 1px solid #bdbdbd;
	width: 470px;
	padding-left: 10px;
}
.footer .f_r ul li{
	float: left;
	padding-right: 6px;
}
.footer .f_r ul li a{
	color: #FFF;
}
.footer .f_r ul li a:hover{
	text-decoration: underline;
}
.footer .f_wp .tree{
	width: 223px;
	height: 217px;
	background: url("../images/tree.png") 0 0 no-repeat;
	text-indent: -999em;
	position: absolute;
	top:-235px;
	left: -194px;
}