@charset "utf-8";
html,body,ul,ol,li,dl,dt,dd,form,h1,h2,h3,h4,h5,p,img{margin:0px;padding:0;}
body{min-width:1000px;font:12px/1.5em "Microsoft Yahei";color:#9e9e9f;background-color:#e0dacc;}
.clear{clear:both;}
img{border:0;}
ul,ol,li{list-style:none}
a,a:hover{color:#9e9e9f;text-decoration:none;}
.hidden{text-indent: -999em;overflow: hidden;line-height: 0;}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.fl{float: left;}
.fr{float: right;}
::selection{background:#1bd3df;color:white;text-shadow:none;}
::-moz-selection{background:#1bd3df;color:white;text-shadow:none;}
::-webkit-selection{background:#1bd3df;color:white;text-shadow:none;}
/* 
.t_i{text-indent:-999em;overflow:hidden;}
.o_h{overflow:hidden;}
.p0{background:url(about:blank);}
.inner_a{width:100%;height:100%;display:block;}
.h_txt{width:810px;height:24px;padding-left:190px;position:absolute;left:0;top:440px;text-align:center;text-indent:0;font:bold 14px/24px "Microsoft Yahei";}
.h_txt a,.h_txt a:hover{color:#ffffe4;background:#721a1a;color:#e0dbc7;padding:0 10px;}
.red{color:#961f1f !important;}
.m_0{margin:0 !important;}
.p1{background-image:url(http://ossweb-img.qq.com/images/dzs/20130912index/p1.jpg);background-repeat:no-repeat;}
.p_8{background-image:url(http://ossweb-img.qq.com/images/dzs/20130912index/png_8.png);background-repeat:no-repeat;}
.p_m{background-image:url(http://ossweb-img.qq.com/images/dzs/20130912index/main_s.jpg);background-repeat:no-repeat;}
.ico_hot,.ico_new,.ico_blank{width:15px;height:14px;display:inline-block;background:url(http://ossweb-img.qq.com/images/dzs/20130912index/png_8.png) no-repeat -5px 0;text-indent:-99em;overflow:hidden;vertical-align:middle;}
.ico_new{background-position:-5px -21px;}.ico_blank{background-position:100px 100px;}
.ico_more{background:url(http://ossweb-img.qq.com/images/dzs/20130912index/png_8.png) no-repeat 4px -66px;}
**top nav**
.wrap{min-width:1000px;background:url(http://ossweb-img.qq.com/images/dzs/act/a20140414main/wrap7.jpg) no-repeat 50% 0;position:relative;}
.nav_wrap{width:100%;min-width:1000px;height:176px;position:absolute;top:151px;left:0;background:url(http://ossweb-img.qq.com/images/dzs/act/a20140414main/nav_w7.jpg) no-repeat 50% 0;z-index:99;display:none;}
.nav_list_box{width:1000px;height:176px;background:url(http://ossweb-img.qq.com/images/dzs/act/a20140414main/nav_c7.jpg) no-repeat 0 0;margin:0 auto;}
.nav_list_c{width:1000px;overflow:hidden;}
.menu_list{width:130px;display:block;float:left;overflow:hidden;padding-top:13px;}
.menu_list a{padding:0 0 0 30px;display:block;height:26px;font:14px/26px "Microsoft Yahei";color:#cac4b5;}
.menu_list a:hover{color:#fff;}
ul.m_1 a{padding-left:35px;}ul.m_3{margin-right:223px;}ul.m_5{width:125px;}
.center{width:1000px;background:url(http://ossweb-img.qq.com/images/dzs/act/a20140414main/center7.jpg) no-repeat 0 0;margin:0 auto;}
.main_top{height:467px;position:relative;}
.top_nav li{width:130px;height:74px;padding-top:35px;text-align:center;font:bold 18px/24px "Microsoft Yahei";float:left;}
li.m_5{width:115px;}
li.web_logo{width:223px;}
.top_nav a{color:#fff;}.top_nav a:hover{color:#cac4b5;}
.top_nav li span{font:10px/14px "Arial";display:block;color:#a9a08e;}
.link_five{width:29px;height:112px;display:block;left:478px;top:237px;position:absolute;z-index:1024;}
#dzsTop{width:1000px;height:357px;position:absolute;bottom:0;left:0;}
*leftbar*
.left_bar{width:170px;float:left;position:relative;top:-25px;padding:25px 20px 0 0;}
left_dl a{color:#ff0;}
.btn_download{height:106px;margin-bottom:6px;position:relative;top:0;}
#btnDown{position:absolute;top:-25px;width:170px;height:130px;}
.btn_download a{display:block;height:106px;background-position:0 0;}
.btn_money,.btn_bbs,.btn_war,.btn_data,.btn_qtalk{display:block;margin-bottom:6px;}
.btn_money{width:85px;height:78px;background-position:0 -110px;float:left;}a.btn_money:hover{background-position:-176px -110px;}
.btn_bbs{width:85px;height:78px;background-position:-85px -110px;float:left;}a.btn_bbs:hover{background-position:-260px -110px;}
.btn_war{height:48px;background-position:0 -192px;}a.btn_war:hover{background-position:-175px -192px;}
.btn_data{height:48px;background-position:0 -241px;}a.btn_data:hover{background-position:-175px -241px;}
.btn_qtalk{height:65px;background-position:0 -290px;}a.btn_qtalk:hover{background-position:-175px -290px;}
.btn_GPS{height:49px;background-position:0 -357px;}
.left_dl{width:155px;overflow:hidden;background:#181818;padding:10px 0 6px 15px;border-top:1px solid #161616;border-bottom:1px solid #212121;}
.left_dl dt{display:block;color:#737478;font:bold 16px/30px "Microsoft Yahei";}
.left_dl dd{display:block;height:24px;float:left;width:65px;overflow:hidden;color:#9e9e9f;padding-right:10px;font:14px/24px "Microsoft Yahei";}
.left_dl dd.long{width:150px;}
.drop_list{width:170px;position:relative;height:39px;padding-top:3px;}
.drop_list p{height:39px;line-height:39px;cursor:pointer;background-position:0 -408px;padding-left:8px;}
.drop_list ul{width:160px;display:block;border:#181818 5px solid;position:absolute;left:0;bottom:35px;background:#232323;overflow:hidden;display:none;}
.drop_list li{font:12px/24px "Microsoft Yahei";display:block;}
.drop_list a{display:block;height:100%;padding:0 14px;}.drop_list a:hover{background:#181818;color:#fff;}
*foot*
.foot_m{min-width:1000px;background:url(http://ossweb-img.qq.com/images/dzs/20130912index/foot_w.jpg) no-repeat 50% 0;}
.foot_c{width:1000px;height:358px;padding:45px 0 0 0;background:url(http://ossweb-img.qq.com/images/dzs/20130912index/foot_c.jpg) no-repeat 0 0;margin:0 auto;font-family:"simsun";}
.logo_game{width:170px;height:40px;display:block;position:absolute;left:0;top:15px;}
.bottom_txt{width:655px;margin:0 auto;padding:0 0 21px 346px;color:#938b7f;font:12px/18px "simsun";position:relative;overflow:hidden;white-space:nowrap;}
.bottom_txt a{color:#938b7f;white-space:nowrap;}
.bottom_txt .ml_0{margin-left:0;}.bottom .mr_0{margin-right:0;}
.bot_link a{margin:0 6px;}
.bottom_txt .d{float:left;font-size:10px;font-family:"Tahoma";}
.bottom_txt .co{float:right;white-space:nowrap;}
|xGv00|ce649409d8339515754bec7ce4055aad */